<div id="view"></div>
<div class="previeww"></div>

<br>

<form method="post" action="" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="" class="form-control" placeholder="Input name of the task"/>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" value="" class="form-control" placeholder="Input your email"/>
    </div>

    <div class="form-group">
        <label for="descrioption">Description</label>
        <textarea type="text" id="descrioption" name="description" value="" class="form-control" placeholder="Input description of the task"></textarea>
    </div>

    <div class="form-group">
        <label for="image">Images</label>
        <input type="file" id="image" name="picture" class="form-control" />
    </div>

    <div class="form-group">
        <input class="btn btn-alert" type='button' id='preview'  value='Предв.просмотр'>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Add"/>
    </div>
</form>
